{% extends 'base.html' %}


{% block title %} 
    - Login 
{% endblock %}

{% block extra_css %}
    <style>
        @media (max-width: 767.98px) { 
            #content{
                display: none;
            }
        }

        .white-box{
            box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.13) !important;
            background-color: white;
            border-radius: 3%;
        }

        #id_username{
            width: 100% !important;
        }

        #id_password{
            width: 100%;
        }

        a{
            font-size: 13px;
            font-family: Helvetica;
        }

        #text{
            height: 100%;
            padding-top: 10%;
        }

        #text .pt-2{
            font-size: 24px;
            font-family: Arial;
            color: black;
            text-align: justify;
            text-justify: inter-word;
        }

        .logo{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #007bed;
            font-size: 54px;
            padding-top: 2%;
        }

        #content{
            padding-top: 10%;
        }

        header{
            display: none;
        }
        footer{
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row" id="content">

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="col-md-9 offset-md-3">
                <div id="text">
                    <div class="logo" style="width: 100%;">
                        <strong>
                            Catbook
                        </strong> 
                    </div>
                    <div class="pt-2">
                        O Catbook ajuda o seu bixinho a se conectar
                        e compartilhar com os outros bixinhos 
                        que fazem parte da vida dele.
                    </div>
                </div>
            </div>
        </div>
        <form class="col-md-4 col-sm-12" action="{% url 'login' %}" method="post">
            <div class="row p-3">

                {% csrf_token %}
                <div class="col-md-12 card white-box">
                    <div class="card-body row">
                        <div class="col-md-12 pt-3">
                            {{ form.username }}
                        </div>
                        <div class="col-md-12 pt-3 pb-4">
                            {{ form.password }}
                        </div>
                        <div class="col-md-12 pb-1">
                            <button type="submit" class="btn btn-info btn-lg btn-block" style="width: 100%; background-color: #1877f2;"> Entrar </button>
                        </div>
                        <div class="col-md-12 pb-1 text-center">
                            <a href=""> Esqueceu sua senha </a>
                        </div>
                    </div>
                    <div class="card-footer row">
                        <div class="col-md-12 pb-1 text-center">
                            <a class="btn btn-success btn-lg" style="font-size: 14px; background-color: #42b72a;">
                                <strong>
                                    Criar Nova Conta 
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>    
{% endblock %}

{% block extra_js %}
    <script>
        $('input').addClass('form-control')

    </script>

{% endblock %}